button {
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: inherit;
  display: flex;
  align-items: center;
  padding: 0.3rem;
  border: 3px solid transparent;
  transition: border 0.2s ease-in;

  &:hover,
  &:focus {
    border: 3px solid var(--color-primary);
  }

  & svg {
    font-size: 2rem;
  }
}
