.hero {
  min-height: calc(100vh - 7rem);
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3rem;
  font-size: 2rem;
  padding: 8rem 15rem;

  @media only screen and (max-width: 73.75em) {
    padding: 6rem 10rem;
  }

  @media only screen and (max-width: 60em) {
    padding: 4rem;
  }

  @media only screen and (max-width: 55em) {
    grid-template-columns: 1fr;
  }

  @media only screen and (max-width: 30em) {
    padding: 4rem 2rem;
  }

  &__text__container {
    //
    @media only screen and (max-width: 55em) {
      grid-column: 1/-1;
      text-align: center;
    }

    & > :nth-child(1) {
      font-size: 4rem;
      color: var(--color-gray-text1);
      font-weight: 900;
      display: inline-block;

      @media only screen and (max-width: 22.5em) {
        transform: translateX(-2rem);
      }
    }

    & > :nth-child(2) {
      font-size: 3rem;
      font-weight: 800;

      & > :nth-child(1) {
        color: var(--color-gray-text1);
      }

      @media only screen and (max-width: 22.5em) {
        transform: translateX(-2rem);
      }
    }

    & > :nth-child(2) span {
      font-size: 3rem;
      color: var(--color-green-1);
      font-weight: 900;
      margin-left: 0.3rem;

      @media only screen and (max-width: 67em) {
        font-size: 2.5rem;
      }

      @media only screen and (max-width: 55em) {
        font-size: 3rem;
      }

      @media only screen and (max-width: 40rem) {
        font-size: 2.2rem;
      }
    }

    & > :nth-child(3) {
      margin-top: 1rem;
      font-size: 1.8rem;
      line-height: 3rem;
      color: var(--color-gray-text1);

      @media only screen and (max-width: 23.44em) {
        transform: translateX(-1.8rem);
      }

      @media only screen and (max-width: 22.5em) {
        transform: translateX(-2.5rem);
      }
    }

    & .hero__skill__container {
      width: 100%;
      margin-top: 6rem;
      display: flex;
      gap: 2rem;

      @media only screen and (max-width: 55em) {
        justify-content: center;
      }

      @media only screen and (max-width: 23.44em) {
        transform: translateX(-1.8rem) scale(0.9);
      }

      & .hero__skill {
        width: 11rem;
        height: 11rem;
        background-color: var(--color-green-3);
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & span {
          font-weight: 800;
          font-size: 2.5rem;
          color: var(--color-gray-stable1);
        }

        & h6 {
          color: var(--color-gray-stable1);
        }
      }
    }
  }

  &__img__container {
    position: relative;

    @media only screen and (max-width: 63em) {
      transform: scale(0.9);
    }

    @media only screen and (max-width: 55em) {
      // display: none;
      margin-top: 10rem;
    }

    & picture {
      & img {
        object-fit: cover;
      }

      &::after,
      &::before {
        content: "";
        display: inline-block;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        position: absolute;
      }

      &::before {
        width: 100%;
        height: 100%;
        background-color: var(--color-green-2);
        z-index: -2;
      }

      &::after {
        width: 63%;
        height: 63%;
        background-color: var(--color-green-3);
        z-index: -1;
      }
    }
  }
}
