.vision-mission {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: inherit;
  padding: 4rem 12rem;
  font-size: 2rem;
  transition: all 300ms ease-out;

  @media only screen and (max-width: 60em) {
    padding: 4rem;
  }

  @media only screen and (max-width: 30em) {
    padding: 1rem;
  }

  .close {
    display: flex;
    justify-content: flex-end;

    &-btn {
      font-size: 2.5rem;
      transition: all 300ms ease-out;
      cursor: pointer;

      &:hover {
        color: var(--color-green-1);
      }
    }
  }

  //   background-image: url("./statement-bg-1.jpg");
  //   background-repeat: no-repeat;
  //   background-size: cover;
  //   opacity: 0.2;

  svg {
    font-size: 3.5rem;
    color: var(--color-gray-stable1);
  }

  .heading {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 2rem;
    font-weight: 900;

    //
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(
      90deg,
      var(--color-green-1) 30%,
      var(--color-yellow-1),
      var(--color-green-1)
    );
  }
}
